template(name='notice')
  .uk-width-1-1.uk-container-center
    nav.uk-navbar.uk-margin-large-bottom
      .uk-navbar-brand
        img.header-icon(src="/images/icons/article-icon.svg")
      ul.uk-navbar-nav.uk-hidden-small
      .uk-navbar-flip
        .header-user-menu
         ul.user-menu.user-menu-closed
          li#back-button.user-menu-head
            i.uk-icon-times(style="color:white;")
    #notice-wrapper
      img.headline-avatar(src='/api/avatar/{{notice.author._id}}', alt='...')
      #noticeHeadline #{notice.headline}
        #noticeMeta
          | Posted
          span(data-livestamp="{{notice.postedAt}}")
          | to
          with board
           a(href="{{boardUrl}}" class="#{ui.accentColour}").board #{name}
          | by
          a(href="#" class='user') #{notice.author.name}
      p#noticeContent #{notice.content}
      #noticeComments
        ul
          each notice.comments
           li.uk-comment
            a(href='#')
              .uk-comment-avatar
                img(src='/api/avatar/{{author._id}}', alt='...')
            .uk-comment-body #{content}
            .comment-meta(data-livestamp="{{postedAt}}")

          form#addComment.uk-form
            #addComment-wrapper
              textarea(id="comment_{{notice._id}}" rows="1", value='', placeholder="Add a comment...")
              button#comment-button.uk-button.uk-float-right.post(type='submit') Post
