template(name='notice')
  .uk-width-1-1.uk-container-center
    nav.uk-navbar.uk-margin-large-bottom
      .uk-navbar-brand
        img.header-icon(src="/images/icons/write-icon.svg")
      ul.uk-navbar-nav.uk-hidden-small
      .uk-navbar-flip
        .header-user-menu
         ul.user-menu.user-menu-closed
          li#back-button.user-menu-head
            i.uk-icon-times(style="color:white;")
    h2 #{notice.headline}
    p #{notice.content}
    span #{notice.postedAt}
    span #{notice.author}
    ul
      each comments
       li
        article.uk-comment
         header.uk-comment-header
          a.pull-left(href='#')
           img.uk-comment-avatar(src='http://placehold.it/50x50', alt='...')
          h4.uk-comment-title
            a(href="#") #{author}
          ul.uk-comment-meta.uk-subnav.uk-subnav-line
           li
            small(data-livestamp="{{postedAt}}")
         .uk-comment-body
          span #{content}

      li
       article.uk-comment
        header.uk-comment-header.comment-feed
         a(href='#')
          img.uk-comment-avatar(src='http://placehold.it/50x50', alt='...')
         form.uk-form
          textarea(id="comment_{{_id}}", data-feedItem="{{_id}}", rows="1", placeholder="Write a comment")
          button.post POST