template(name="menu")
 nav.uk-navbar.uk-margin-large-bottom
    a.uk-navbar-toggle(href='#offcanvas', data-uk-offcanvas)
    a.uk-navbar-brand(href="/home/{{address.address}}")
      img.header-logo(src="/images/hembu-logo.svg")
    ul.uk-navbar-nav.uk-hidden-small
        //li.uk-active
          //a(href="{{pathFor 'home'}}") Home
        //li
          //a(href="{{pathFor 'logout'}}") Logout
    .uk-navbar-flip
       //a.uk-navbar-content(href="#") #{profile.name}
       //a.uk-navbar-content(href="#")
          //img.header-user-pic(src="#{profile.profilePic}")
       .header-user-menu
        ul.user-menu.user-menu-closed
         li.user-menu-head
          | #{profile.name}
          img.header-user-pic(src="#{profile.profilePic}")
         a(href="#")
          li.user-menu-item.menu-item-address
           | #{address.displayAddress}
         a(href="#")
          li.user-menu-item.menu-item-bookings
           | Bookings
         a(href="#")
          li.user-menu-item.menu-item-profile
           | Profile
         a(href="{{pathFor 'logout'}}")
          li.user-menu-item.menu-item-logout
           | Log out
 #offcanvas.uk-offcanvas(style="background: transparent;")
  .uk-offcanvas-bar
   ul.uk-nav.uk-nav-offcanvas
    each boards
     li.uk-active
      a(href="{{boardUrl}}") #{name}
    li
      a(href="{{pathFor 'writeNotice'}}") Create New Notice
    li
      a(href="{{pathFor 'logout'}}") Logout
